
@{
    ViewData["Title"] = "Update";
}
@model CategoryDTO
<h1>Update Category</h1>


<div class="row">
    <div class="col-md">
        <form asp-action="Update" method="post" asp-controller="Category">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <input  value="update" type=submit class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>


