html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a.navbar-brand{
    white-space:normal;
    font-family:'Yellowtail',cursive;
    font-size:xx-large;
    text-align:center;
    word-break:break-all;
    
    
}

.container-fluid {
    background-color:mediumseagreen;
}

.nav-item {
    font-family: 'Yellowtail',cursive;
    font-size:medium;
}

.table {
    background-color:aliceblue;
    font-size:20px;
}
.display-4 {
    font-family: 'Yellowtail',cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}
.text-center{
    background-color:honeydew
}

.form-group{
    margin: 15px;
}

.btn{
    margin:15px;
}